.nav {
    grid-area: s;
    padding: 20px;

}

.item a {
    color: white;
    text-decoration: none;
}

a.activeLink {
    color: gold;
}

.friendsItem {
    display: flex;
    text-align: center;
}
